# **Exercício Colab: Curso python para bioinformática**

## *Exercício introdutório*

### Instalar a biblioteca Pandas

In [ ]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (1.1.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas) (2018.9)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.6/dist-packages (from pandas) (1.19.4)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

### Importar a biblioteca para o Colab

In [ ]:
import pandas as pd #manipulação e análise de dados

### Atividades

![logo pandas](https://upload.wikimedia.org/wikipedia/commons/e/ed/Pandas_logo.svg)

In [ ]:
days = 45234
months = days/30 #considerando meses de 30 dias
years = months/12
print("Em " + str(days) + " dias existem " + str(round(years, 2)) + " anos.")

Em 45234 dias existem 125.65 anos.

In [ ]:
formula_days = lambda year: year * 360 #considerando meses de 30 dias

In [ ]:
formula_months = lambda year: year * 12

In [ ]:
df = pd.DataFrame(columns=['Dias', 'Meses', 'Anos'])

In [ ]:
for i in range(2, 8):
  df.loc[i-1] = [formula_days(i), formula_months(i), i]

In [ ]:
df

   Dias Meses Anos
1   720    24    2
2  1080    36    3
3  1440    48    4
4  1800    60    5
5  2160    72    6
6  2520    84    7